@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
  font-family: "Inter", sans-serif;
}


header{
  padding: 1em 0;
  background: linear-gradient(90deg,rgba(171, 0, 166, 1) 0%, rgba(251, 153, 248, 1) 100%);
  color: white;
}

h1{
  margin: 0;
}

.header-title{
  padding: 0 1em;
}