@import "normalize.css";
@import "typography.css";


header{
  padding: 1em 0;
  background: linear-gradient(90deg,  var(--color-primary) 0%, rgba(251, 153, 248, 1) 100%);
  color: var(--color-white);
  height: 65px;
  box-sizing: border-box;
}

main{
  background-color: var(--color-secondary);
  min-width: 320px;
  min-height: calc(100vh - 65px - 60px);
}

footer{
  height: 60px;
  padding: 0.25em;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(90deg, rgba(140, 140, 140, 1) 0%, rgba(188, 188, 188, 1) 100%);
}

img{
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover; 
}

.header__title {
  padding: 0 1em;
}

.main__text {
  text-align: center;
}

.main__title {
  border-bottom: 1px solid rgb(163, 163, 163);
}

.main__p{
  padding: 0 2.5em;
}

.main__p--home {
  max-width: 32em;
  margin: 1em auto;
}

.main__p--condoms {
  max-width: 20em;
  margin: 1em auto;
}

.picture__link {
  display: block;
  height: 100%;
}

.picture__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.picture {
  margin: 0px;
  display: block;
}

.button {
  text-decoration: none;
  border-radius: 1.25em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button__container {
  text-align: center;
  padding: 1em 0;
}

.button--form{
  padding: 1em 2em;
}


.button--home{
  padding: 1em 1.5em;
}

.button--card{
  padding: 0.75em 1em;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1); 
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-bottom: 1.5em;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 165px;
  background-color: #E8E8E8;
  gap: var(--gap);
  padding: 1em 0;
  margin: 0.5em;
}

.card__img{
  width: 100%;
  height: auto;
  max-width: 100px;
}


.card__price p {
  margin: 0;
}

.card__title{
  text-align: center;
  padding: 0 1.3em;
  font-weight: 800;
}

.card__title p{
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 0.25em;
  font-weight: 500;
}

.form__input {
  padding: 0.75em;
  border: none;
  border-radius: 0.5em;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  max-width: 1000px;
  margin: 0 auto;
}

.swiper {
  max-width: 800px;
}



@media screen and (min-width: 1024px) {
  header{
    height: 76px;
  } 

  main{
    min-height: calc(100vh - 76px - 73px);
  }

  footer{
    height: 73px;
  }
  
  .button--card{
    padding: 0.75em 2em;
  }

  .button--form{
    padding: 1em 3em;
  }

  form{
    gap: 3em 2em;
    margin-bottom: 1em;
  }

  .cards{
    gap: calc(var(--gap)*2);
  }
  
  .card{
    max-width: 250px;
    gap: 1em;
  }

  .card__img{
    max-width: 165px;
  }

  .card__title{
    padding: 0 2.5em;
  }

}