@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #AB00A6;
  --color-secondary: #D9D9D9;
  --color-white: #FFFFFF;
  
  --gap: 0.75em;
}




a {
  display: inline-block;
  font-weight: 500;
  color: white;
  text-decoration: none;
}


h1 {
  line-height: 1.1;
  margin: 0;
  font-weight: 600;
}

h3, h2 {
  margin: 0;
}

h2{
  padding: 0.5em 0;
}